<p>List a new artwork for sale</p>


<!-- rem - attach it to a patient_campaign -->

<%= form_for @artwork do |f| %>
  <div><%= f.label :title, "Title of Artwork" %>
  <%= f.text_field :title %></div>

  <div><%= f.label :size, "Dimensions/Size" %>
  <%= f.text_field :size %></div>

  <div><%= f.label :medium, "Medium" %>
  <%= f.text_field :medium %></div>

  <div><%= f.label :price, "Price" %>
  <%= f.text_field :price %></div>

  <div><%= f.label :shipping_price, "Shipping Cost" %>
  <%= f.text_field :shipping_price %></div>
<!-- 
  image_tag(current_artwork.art_image_1.url) if current_artwork.art_image_1? 
    f.label :ArtImage 
      f.file_field :ArtImage -->
<% end %>



<p>Upload up to 3 images (.jpg format)</p>
    