<p>List a new artwork for sale</p>


<!-- rem - attach it to a patient_campaign -->

<%= form_for @artwork do |f| %>
  <div><%= f.label :title, "Title of Artwork" %>
  <%= f.text_field :title %></div>

  <div><%= f.label :size, "Dimensions/Size" %>
  <%= f.text_field :size %></div>

  <div><%= f.label :medium, "Medium" %>
  <%= f.text_field :medium %></div>

  <div><%= f.label :summary, "Summary" %>
  <%= f.text_field :summary %></div>

  <div><%= f.label :price, "Price" %>
  <%= f.text_field :price %></div>

  <div><%= f.label :shipping_price, "Shipping Cost" %>
  <%= f.text_field :shipping_price %></div>


  <p>Upload up to 3 images (.jpg/.jpeg format). The first image will be the one that represents the artwork's listing on the site. It should be the most representative of the artwork.</p>

  <div><%= image_tag(@artwork.art_image_1.url) if @artwork.art_image_1?  %>
    <%= f.label :art_image_1, "Image 1" %> 
      <%= f.file_field :art_image_1 %></div>

  <div><%= image_tag(@artwork.art_image_2.url) if @artwork.art_image_2?  %>
    <%= f.label :art_image_2, "Image 2" %> 
      <%= f.file_field :art_image_1 %></div>

  <div><%= image_tag(@artwork.art_image_3.url) if @artwork.art_image_3?  %>
    <%= f.label :art_image_3, "Image 3" %> 
      <%= f.file_field :art_image_1 %></div>

  <p><%= f.submit "Add New Artwork" %></p>
<% end %>




    