Artwork show template.
sjlkdsjs
<% if can? :update, @artwork %>
  <%= link_to "Edit Artwork", edit_artwork_path %>
<% end %>

<h3><%= @artwork.title %></h3>
<%= image_tag @artwork.art_image_1 %>
<p>Size: <%= @artwork.size %></p>   
<p>Price:<%= number_to_currency(@artwork.price) %></p>

