<div class="container-fluid">


  <div class="row">
    <div class="col-md-5">
      <br>

      <p class="text-right"><%= image_tag @artwork.art_image_1 %></p>
        <br>
      <% if @artwork.art_image_2? %>
        <p class="text-right"><%= image_tag @artwork.art_image_2%></p>
        <br>
      <% end %>
      <% if @artwork.art_image_3? %>
        <p style="float:right"><%= image_tag @artwork.art_image_3%></p>
      <% end %>


    </div>

    <div class="col-md-5">
      <div>
        <br>
        <h4 class="copy-heading">"<%= @artwork.title %>"<small> by <%= @artwork.user.first_name %> <%= @artwork.user.last_name %></small></h4>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag(@artwork.user.headshot.thumb.url) if @artwork.user.headshot? %>
            </div>
            <div class="col-md-5 text-right">
              <p> for <%= link_to (@artwork.user.patient_campaign.full_name), [@patient_campaign], method: :get %> </p>
                (<%= @artwork.user.patient_campaign.patient_diagnosis %>)

            </div>
            <div class="col-md-5">
              <%= image_tag(@artwork.user.patient_campaign.patient_image_1.thumb.url) %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <p>Size: <%= @artwork.size %></p>
              <p>Medium: <%= @artwork.medium %>   
              <p>Price: <%= number_to_currency(@artwork.price) %></p>
              <p>Description: <%= @artwork.summary%></p>

              
              <% if can? :update, @artwork %>
                <%= link_to "Edit Artwork", edit_patient_campaign_artwork_path %>
                <% end %><br>

              <% if can? :destroy, @patient_campaign, @artwork %>
                <%= link_to "Delete Artwork", [@patient_campaign, @artwork,] , method: :delete, confirm: 'Are you sure you want to delete this Patient Campaign?' %>
              <% end %>
            </div>
            <div class="col-md-6 text-right">
              <%= form_tag [@patient_campaign, @artwork, :buy] do %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description=“<%= @artwork.title %>“
                    data-amount=“<%= @artwork.price %>“, data-shipping-address=true></script>
                <% end %>
            </div>
          </div>

      </div>

    </div>






  </div>
</div>