<div class="container-fluid">


  <div class="row">
    <div class="col-md-7">
      <%= image_tag @artwork.art_image_1 %>

      <% if can? :update, @artwork %>
      <%= link_to "Edit This Listing", edit_patient_campaign_artwork_path %>
      <% end %>

    </div>

    <div class="col-md-5">
      
      

      <div class="page-header">
        <h3>"<%= @artwork.title %>"<small> by <%= @artwork.user.first_name %> <%= @artwork.user.last_name %></small></h3>

        <p><%= image_tag(@artwork.user.headshot.thumb.url) if @artwork.user.headshot? %></p>
        <p>Size: <%= @artwork.size %></p>
        <p>Medium: <%= @artwork.medium %>   
        <p>Price:<%= number_to_currency(@artwork.price) %></p>
        
        <% if can? :destroy, @patient_campaign, @artwork %>
        <%= link_to "Delete Artwork", [@patient_campaign, @artwork,] , method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this Patient Campaign?' %>

    </div>






  </div>
</div>