<div class="container-fluid">
  <div class="col-md-12 col-md-offset-1 search-row">
    <h4 class="copy-heading">Our Artists:</h4>
    
      <% @users.each do |user|%>

        <div class="row">
       
          <span class="search-margin"><%= link_to image_tag(user.headshot.micro.url), user %></span>
          <span class="search-margin"><%= link_to (user.full_name), user %>,</span>
          <span class="search-margin"><%= link_to (user.type_of_artist), user %>:</span>
          
          <span class="search-margin">
            <% if user.sample_work_1? %>
              <%= link_to image_tag(user.sample_work_1.micro.url), user %>
            <% end %>
          </span>

          <span class="search-margin">
            <% if user.sample_work_2? %>
              <%= link_to image_tag(user.sample_work_2.micro.url), user %>
            <% end %>
          </span>

          <span class="search-margin">
            <% if user.sample_work_3? %>
              <%= link_to image_tag(user.sample_work_3.micro.url), user %>
            <% end %>
          </span>

          <% if user.patient_campaign %>
          <span class="search-margin">
            for <%= link_to (user.patient_campaign.full_name), user.patient_campaign %>
          </span>

          <span class="search-margin">
            for <%= link_to image_tag(user.patient_campaign.patient_image_1.micro.url), user.patient_campaign %>
          </span>

          

          <% end %>

        </div>
        <hr>
      <% end %>
    
<!-- link_to (@artwork.user.patient_campaign.full_name), [@artwork.patient_campaign], method: :get  -->
    
  </div>
</div>
