<div class="container-fluid">
 <br>
<!-- artist headshot -->
  <div class="row">
    <div class="col-md-4">
     
      <p class="text-right"><%= image_tag @user.headshot %></p>
      
      
    </div>
    

<!-- artist info -->
    <div class="col-md-4">
    
        <!-- change the link to an artist view page, (to be made) -->
      <h2 class="copy-heading"><%= @user.full_name%></h2>
      <h3 class="copy-heading"><%= @user.type_of_artist %></h3>
      <h4 class="copy-heading"><%= @user.city %>, <%= @user.state %></h4>
      <hr>
      
      <p><strong>Artist Statement:</strong> <%= @user.artist_statement %></p>  
    </div>

<!-- patient campaign info -->
  
    <div class="col-md-4">
      <% if @user.patient_campaign %>
      <br>
        <h4 class="copy-heading">Artist's Patient: <%= @user.patient_campaign.full_name %></h4>
        <p>(Artist's <%= @user.patient_campaign.artist_relationship_to_patient %>)</p>

        <div class="row">
          <div class="col-md-4">
            <%= link_to image_tag(@user.patient_campaign.patient_image_1.small.url), patient_campaign_path(@user.patient_campaign) %>
          </div>
          <div class="col-md-8">
            <h5 class="copy-heading"><%= @user.patient_campaign.campaign_name %></h5>
            <p><%= @user.patient_campaign.patient_story %></p>
           

      <% else %>
      <br>
          <p>This user does not have a patient campaign yet.</p> 
      <% end %>
        </div>
      </div>

    </div>
  </div> 
  <hr class="style-two"> 

   <!-- artist's works section -->
  <div class="center-div-artist">
    <ul class="bot-align">
      <% if @user.artworks %>

        <%= render partial: 'artwork_view', collection: @user.artworks, as: :artwork %>

      <% end %>

  </div>

 
  
 
  </div>
</div>