<div class="container-fluid">
 <br>
<!-- artist headshot -->
  <div class="row">
    <div class="col-md-4">
     
      <p class="text-left"><%= image_tag @user.headshot %></p>
    </div>

<!-- artist info -->
    <div class="col-md-4">
    
        <!-- change the link to an artist view page, (to be made) -->
      <h3 class="copy-heading"><%= @user.full_name%></h3>
      <h4 class="copy-heading"><%= @user.type_of_artist %><br>
        <%= @user.city %>, <%= @user.state %></h4>
      <hr>
      
      <p>Artist Statement: <%= @user.artist_statement %></p>  
    </div>

<!-- patient campaign info -->
  <!-- patient campaign info -->
    <div class="col-md-4">
      <%= if user.patient_campaign? %>
      <h4 class="copy-heading">Artist's Patient: <%= @patient_campaign.full_name %></h4>
      <p>(Artist's <%= @patient_campaign.artist_relationship_to_patient %>)</p>

      <div class="row">
        <div class="col-md-4">
          <%= link_to image_tag(@patient_campaign.patient_image_1.small.url), patient_campaign_path %>
        </div>
        <div class="col-md-8">
          <h5 class="copy-heading"><%= @patient_campaign.campaign_name %></h5>
          <p><%= @patient_campaign.patient_story %></p>
          <hr>

      <% else %>
      This user does not have a patient campaign yet %>

        </div>
      </div>

    </div>
  </div>  

  <!-- artist's sample images -->
  <div class="row">
      <div class="col-md-10">
      <br>
      <p>Sample of Artist's Work:</p>
      <ul class="bot-align">

        <li><%= image_tag(@user.sample_work_1) %> </li>
        <li><%= image_tag(@user.sample_work_2) %></li>
        <li><%= image_tag(@user.sample_work_3) %></li>
        <li><%= image_tag(@user.sample_work_4) %></li>
      </ul>
     </div>
 
  </div>
</div>