<div class="container-fluid">
 
<h2 class="copy-heading text-center">Artists join us! Here's how it works...</h2><br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2" align="right">
    <p><%=(image_tag ('/assets/artcaring-sign-up.png'))%></p>
  </div>

  <div class="col-md-4">
    <p>1. <strong>If you're an artist</strong> currently selling your work, and know someone personally who could use some financial help during a health hardship - you're in! We'd love to have you <%= link_to "Sign Up", new_user_registration_path %>!</p>
  </div>
</div>
<br><br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p>2. Once you've signed-up, verified your email, and signed back in, you're ready to <strong>create a Patient Campaign</strong>. This is where you'll tell us about the person who will benefit from your art sales on ArtCaring.</p>

    <% if current_user %>
      <p>Looks like you're signed-up and signed-in! <%= link_to "
      Start your Patient Campaign here", new_patient_campaign_path %>.</p>
    <% end %>

  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-patient-campaign.png'))%></p>
  </div>
</div>
<br><br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2" align="right">
    <p><%=(image_tag ('/assets/artcaring-list-artworks.png'))%></p>
  </div>
  <div class="col-md-4">
    <p>3. With a Patient Campaign set up, you'll be ready to <strong>start listing Artworks</strong>. Fill out the information about each Artwork, and make sure you upload great product photos! Next step...read through our details and conditions below!</p>
  </div>


</div>
<br><br>


<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p>4. Once your Artworks are listed, you are ready to <strong>tell the world</strong> about your Patient Campaign. Send an email/online postcard announcing your Campaign to your mailing list. And <strong>be sure to give your existing buyers and collectors special attention!</strong> Post it to Facebook, Tweet it, Pin it, Like it. Get the news out there to as many people as possible!</p>
    <p> People love hearing about good causes, and when they find out their favorite artist is involved, they will want to be involved too!
  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-shout-it.png'))%></p>
  </div>
</div>
<br><br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2" align="right">
    <p><%=(image_tag ('/assets/artcaring-proceeds.png'))%></p>
  </div>


  <div class="col-md-4">
    <p>5. When you set up your Patient Campaign:
      <ul>
        <li>Your Patient will receive between 62% and 92%*** of the proceeds of one of your Artwork sales.
        <li>***You will specify what percentage (between 0% and 30%) of artwork sales you'll want to keep, when you set up your Patient Campaign.</li>
        <li>ArtCaring Fees are 5% + 2.9% to cover credit card fees/banking charges</li>                    
      </ul>
    </p>
  </div>
</div>
<br><br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p>6. The fine print, terms and conditions. 
      <ul>
        <li>There is no 'fine print' but please read our <%=link_to "terms of use", welcome_terms_and_conditions_path %>.</li>
        <li>...and the <%= link_to "frequently asked questions (FAQ)", welcome_faq_path %> page.</li>
        
        
        
      </ul>
    </p>
  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-details.png'))%></p>
  </div>
</div>



<h2 class="copy-heading text-center">Here, artists and art lovers come together for the benefit of others.</h2>

</div>