<div class="container-fluid">
 
<h2 class="copy-heading text-center">Artists join us! Here's how it works...</h2>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p><%=(image_tag ('/assets/artcaring-patient-campaigns.png'))%></p>
  </div>

  <div class="col-md-4">
    <p>1. If you're an artist, and know someone personally who could use some financial help during a health hardship - you're in! We'd love to have you <%= link_to "sign-up", new_user_registration_path %>!</p>
  </div>
</div>
<br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p>2. Once you've signed-up, verified your email, and signed back in, you're ready to create a Patient Campaign. This is where you'll tell us about the person who will benefit from your art sales on ArtCaring.
    </p>

    <% if current_user %>
      <p>Looks like you're signed-up and signed-in! <%= link_to "
      Start your Patient Campaign here", new_patient_campaign_path %>.</p>
    <% end %>

  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-artworks.png'))%></p>
  </div>
</div>
<br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p><%=(image_tag ('/assets/artcaring-approved.png'))%></p>
  </div>
  <div class="col-md-4">
    <p>3. With a Patient Campaign set up, you'll be ready to start listing artworks. Provide as much information about each artwork as you can, and make sure you upload great product photos! Next step...read through our details and conditions below!</p>
  </div>
</div>
<br>


<h2 class="copy-heading text-center">This stuff is important, too. Keep reading...</h2>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p>4. Let's cover the basic details and conditions for how ArtCaring works... 
  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-art-shopping.png'))%></p>
  </div>
</div>
<br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p><%=(image_tag ('/assets/artcaring-art-mediums.png'))%></p>
  </div>

  <div class="col-md-4">
    <p>5. When you set up your Patient Campaign:
      <ul>
        <li>You will specify what percentage (between 0% and 30%) of artwork sales you'll want to keep.</li>
        
        <li>Be honest. Don't heap bad juju on yourself by making up false information - as it will need to be verified on our end :)</li>
        
      </ul>
    </p>
  </div>
</div>
<br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <p>6. As soon as you've listed your art in your Campaign:
      <ul>
        <li>Make sure you contact everyone on your mailing list, especially your previou buyers, as they will be the most likely people to support your Campaign!</li>
        
        <li>Use social media to tell the world about what you're trying to do for your Patient!</li>
        
      </ul>
    </p>
  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-purchases.png'))%></p>
  </div>
</div>



<h2 class="copy-heading text-center">Here, artists and art lovers come together for the benefit of others.</h2>

</div>