<div class="container">   
  <div class= "row">
    <div class="col-md-6">
    <h3 class="copy-heading"><%= current_user.first_name %> <%= current_user.last_name %> - Artist's Dashboard</h3>
    </div>
    <div class="col-md-6">
      <br>
      <%= link_to (image_tag ('/assets/btn-sm-edit-account.png')), edit_user_registration_path %>
      
    </div>
  </div>

  <hr class="style-four">

<!-- Patient Campaign Section -->
  <div class= "row">

    <% if not current_user.patient_campaign %>

      <div class ="col-md-6">
        <h4 class="copy-heading">Your Patient Campaign:</h4>
        
          <p>(You have no current Patient Campaign.)</p>
          <p>Please start a Patient Campaign...after which you can start listing Artworks!) </p>
          
          <p><%= link_to (image_tag ('/assets/btn-start-campaign.png')), new_patient_campaign_path %></p>
              
      </div>

    <% elsif current_user.patient_campaign %>

      <div class ="col-md-6">
        <h4 class="copy-heading">Your Patient Campaign:</h4>
      </div>

      <div class="col-md-2">
        <%= link_to (image_tag ('/assets/btn-sm-edit-camp.png')), edit_patient_campaign_path(current_user.patient_campaign) %>
      </div>

  </div>

  <hr>

  <div class="row">
      <div class="col-md-2">
        <span class="img-thumbnail"><%= image_tag(current_user.patient_campaign.patient_image_1.thumb.url) %></span>
      </div>
      <div class="col-md-5">
        
        <h4 class="copy-heading"><%= link_to current_user.patient_campaign.campaign_name, current_user.patient_campaign %></h4>
            <%#= link_to campaign.campaign_name, "/patient_campaigns/#{campaign.id}" %>
            <%#= link_to campaign.campaign_name, patient_campaign_path(campaign.id) %>
            <%#= link_to campaign.campaign_name, patient_campaign_path(campaign) %>
      </div>
    <% end %>
  </div>
       
<hr class="style-four">

<!-- Artworks Section -->
  <div class= "row">
    
    <% if current_user.patient_campaign && current_user.patient_campaign.artworks.count == 0 %>

    <div class ="col-md-6" id="dim_unavailable">
      <h4 class="copy-heading">Your Artworks:</h4>
      <p>(You have no current artworks.)</p>
      <%= link_to (image_tag ('/assets/btn-add-artwork.png')), new_patient_campaign_artwork_path(current_user.patient_campaign) %>
    </div>  
     
    <% elsif current_user.patient_campaign && current_user.patient_campaign.artworks.count >= 1 %>

    <div class ="col-md-6" id="dim_unavailable">
      <h4 class="copy-heading">Your Artworks:</h4>
    </div>
    <div class = "col-md-2">     
        <%= link_to (image_tag ('/assets/btn-sm-list-artwork.png')), new_patient_campaign_artwork_path(current_user.patient_campaign) %>
          </div>
  </div>

  <hr>

        <% current_user.patient_campaign.artworks.each do |artwork| %>
          
          <div class= "row" id="align-bot">
            <div class ="col-md-1" >
              <p><%= image_tag(artwork.art_image_1.thumb.url) %></p>

            </div>
            <div class = "col-md-2">
              <%= artwork.title %>
            </div>
            <div class = "col-md-2">
              <%= artwork.category %>: <%= artwork.medium %>
            </div>
            <div class = "col-md-2">
              <%= artwork.size %>
            </div>
            <div class = "col-md-2">
              <%= number_to_currency(artwork.price) %>
            </div> 
            <div class = "col-md-1" style="text-align: right">
              <% if can? :edit, Artwork %>
                  <%= link_to "Edit", edit_patient_campaign_artwork_path(artwork.patient_campaign, artwork)%>
                  <% end %>
            </div>    
            <div class = "col-md-1">     
              <% if can? :destroy, Artwork %>
                  <%= link_to "Delete", patient_campaign_artwork_path(artwork.patient_campaign, artwork), method: :delete, confirm: 'Are you sure you want to delete this Artwork?' %>
                  <% end %>
            </div>  
                        
            
          </div>
          <hr>
        <% end %>

      
      <% end %>
    </div>
  </div>

  


  
</div>



