<div class="container">   
  <div class= "row">
    <div class="col-md-4">
  <h3 class="copy-heading"><%= current_user.first_name %> <%= current_user.last_name %> - Artist's Dashboard</h3>
    </div>
  </div>



  <div class= "row">
    <div class ="col-md-6">
      <h4 class="copy-heading">Your Patient Campaign:</h4>
      <% if not current_user.patient_campaign %>
        <p>(You have no current Patient Campaign.)</p>
        <p>Please start a Patient Campaign...after which you can start listing Artworks!) </p>
        
        <p><%= link_to (image_tag ('/assets/btn-start-campaign.png')), new_patient_campaign_path %></p>
      
      <% else%>

        <%= link_to current_user.patient_campaign.campaign_name, current_user.patient_campaign %>
          <%#= link_to campaign.campaign_name, "/patient_campaigns/#{campaign.id}" %>
          <%#= link_to campaign.campaign_name, patient_campaign_path(campaign.id) %>
          <%#= link_to campaign.campaign_name, patient_campaign_path(campaign) %>
      <% end %>
    </div>
  </div>
<br>
  <div class= "row">
    <div class ="col-md-4" id="dim_unavailable">
      <h4 class="copy-heading">Your Artworks:</h4>
      <% if current_user.patient_campaign && current_user.patient_campaign.artworks.count == 0 %>
        
        <p>(You have no current artworks.)</p>
        <%= link_to (image_tag ('/assets/btn-add-artwork.png')), new_patient_campaign_artwork_path(current_user.patient_campaign) %>
        
      <% elsif current_user.patient_campaign && current_user.patient_campaign.artworks.count >= 1 %>
        
        <%= link_to (image_tag ('/assets/btn-add-artwork.png')), new_patient_campaign_artwork_path(current_user.patient_campaign) %>

        <% current_user.patient_campaign.artworks.each do |artwork| %>
          <br>
          <div class= "row">
            <div class ="col-md-2 col-md-offset-1">
              <%= image_tag(artwork.art_image_1.thumb.url) %>
            </div>
            <div class = "col-md-2">
              <%= link_to artwork.title, @artwork %>
              $<%= artwork.price %>
              <p><%= artwork.medium %></p>
            </div>
          </div>
          </br>
        <% end %>

      
      <% end %>
    </div>
  </div>

  


  
</div>



