<div class="container-fluid">
  <div class="row" id="headline">
    <h1>Art discovered and purchased here helps people heal.</h1>
  </div>

  <div class="row" id="hero">

    <div class="col-md-4" style="text-align:right">
      <br>
      <%= (image_tag ('/assets/garrett.jpg')) %>
    </div>

    <div class="col-md-4" id="summary-story">
      <div class="os-font">
      <h3 >$2,149 was raised for Garrett's cancer treatment.</h3>
      <p><strong>Garrett</strong> is recovering from chemotherapy treatment and multiple surgeries for osteosarcoma.</p>
      <p>Emily and John found and purchased this painting on ArtCaring.com.</p>
      <p>Artist Scott Hale (Garrett's uncle), pledged proceeds from this artwork sale to help Garrett's parents take care of mounting medical bills associated with his treatment.</p>
      </div>
    </div>

    <div class="col-md-4" style="text-align: left">
      <br>
      <center><%= (image_tag ('/assets/the-fork-by-scott-hale.jpg')) %></center>
    </div>

  </div>

<!-- CTA buttons big -->
  <div class="row" id="big-buttons">
    <div class="col-md-2 col-md-offset-3">
      <%= link_to (image_tag ('/assets/btn-shop.png')), artworks_path %>
    </div>

    <div class="col-md-2"> 
      <%= link_to (image_tag ('/assets/btn-learn.png')), welcome_learn_path %>
    </div>

    <div class="col-md-2">
      <%= link_to (image_tag ('/assets/btn-artists-join.png')), welcome_artists_join_us_path %>
    </div>

  </div>

</div>

  

    