<div class="container-fluid">
 
<h2 class="copy-heading text-center">It all starts with an artist who knows someone in need...</h2><br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2" align="right">
    <p><%=(image_tag ('/assets/artcaring-patient-campaigns.png'))%></p>
  </div>

  <div class="col-md-4">
    <br>
    <p>ArtCaring is an extraordinary online art gallery. Here, artists sell their artwork to benefit a family member, a friend, a neighbor - someone close to them experiencing a difficult health event. Artists do this by setting up a <strong>"Patient Campaign"</strong> - where they tell the story of the individual that they're going to help - their "Patient".</p>
  
  </div>
</div>
<hr class="style-two">

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <br>
    <p>Artists then add original <strong>Artworks</strong> to their Patient Campaign. All sales on ArtCaring are handled securely, via <a href=https://stripe.com/ target="_blank">Stripe</a>). The artist has the option to keep a portion, up to 30%, of the sale proceeds. The remainder of the sale, less <%= link_to "fees", welcome_fees_path %>, is disbursed to the Patient. 
    </p>
  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-artworks.png'))%></p>
  </div>
</div>
<hr class="style-two">

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2" align="right">
    <p><%=(image_tag ('/assets/artcaring-approved.png'))%></p>
  </div>
  <div class="col-md-4">
    <br>
    <p>Depending on whether the artist keeps a portion of the sale, the Patient will end up receiving between 62% and 92% of the proceeds of an sale! We verify the Patient Campaigns, by following up on the information provided when Campaigns are created.</p>
  </div>
</div>
<hr class="style-two">


<h2 class="copy-heading text-center">Where do you fit in?</h2><br>

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <br>
    <p>Whether you came to ArtCaring through a personal invitation from an artist you already know, by word of mouth, or some other means, we're glad you're here! By purchasing an artwork on ArtCaring.com <strong>you help someone directly...in a very big way!</strong>
    </p>
  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-art-shopping.png'))%></p>
  </div>
</div>
<hr class="style-two">

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2" align="right">
    <p><%=(image_tag ('/assets/artcaring-art-mediums.png'))%></p>
  </div>

  <div class="col-md-4">
    <br>
    <p><strong>Hit the Shop button above</strong> to search by type of artwork or within a certain price range. We have art in many media, including painting, drawing, sculpture, wood, mixed media, jewelry, fiber, ceramics, glass, metalwork, photography and printmaking.
    </p>
  </div>
</div>
<hr class="style-two">

<div class="row os-font">
  <div class="col-md-4 col-md-offset-2">
    <br>
    <p>Maybe you'd like to help someone based on where they live or what they're going through. <strong>Use the Search bar to find them!</strong></p>
    <p>

    </p>
  </div>

  <div class="col-md-4">
    <p><%=(image_tag ('/assets/artcaring-purchases.png'))%></p>
  </div>
</div>
<br>

<h2 class="copy-heading text-center">Here, artists and art lovers come together for the benefit of others.</h2>
<br>
</div>