<div class="container-fluid">
 
<h2>It all starts with an artist who knows someone in need...</h2>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <p><%=(image_tag ('/assets/easel-small.png'))%></p>
  </div>

  <div class="col-md-4">
    <p>ArtCaring is an extraordinary online art gallery. Here, artists list and sell their artwork to benefit a family member, a friend, a neighbor - someone they know who's experiencing a difficult health event. Artists do this by setting up a <strong>"Patient Campaign"</strong>, where they tell the story of the individual that they want to help (their "Patient").</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>Artists then add <strong>artworks</strong> to their Campaign where anyone can buy them (safely, via <a href=https://stripe.com/ target="_blank">Stripe</a>). Once an artwork has sold and received by the buyer, proceeds from the sale can be released. The artist has the option to keep a portion, up to 30%, of the sale proceeds (plus shipping/handling costs). The remainder of the sale, less fees, is disbursed to the Patient.
    </p>
  </div>

  <div class="col-md-2">
    <p><%=(image_tag ('/assets/arthanger-small.png'))%></p>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <p><%=(image_tag ('/assets/easel-small.png'))%></p>
  </div>
  <div class="col-md-4">
    <p>New Patient Campaigns are verified and approved based on the information the artist provides for the Campaign. ArtCaring checks the information provided in the Patient Campaign to confirm the authenticity of the Patient's situation.</p>
  </div>
</div>



<h2>Where do you fit in?</h2>
<div class="row">
  <div class="col-md-4">
    <p>Whether you came to ArtCaring through a personal invitation from an artist you already know, by word of mouth, or some other means, we're glad you're here! You love art! By purchasing an artwork on ArtCaring.com <strong>you benefit someone in need...directly...in a very big way!</strong>
    </p>
  </div>

  <div class="col-md-4">
    <p>So, when you're ready, go ahead and <strong><%= link_to "search and shop by type of work", welcome_learn_path %></strong>. We have art in many media, including painting, drawing, sculpture, wood, mixed media, jewelry, fiber, ceramics, glass, metalwork, photography and printmaking.
    </p>
  </div>

  <div class="col-md-4">
    <p>What if you'd like to help someone based on their story...<strong><%= link_to "search and shop by Patient Campaign", welcome_learn_path %></strong>. Or if you'd like to help someone with a particular condition, injury or disease, <strong><%= link_to "search and shop by health condition", welcome_learn_path %></strong>.  
  </div>
</div>


<h2 class="headline">This is where artists and art lovers come together for the benefit of someone else.</h2>

</div>