<div class="container-fluid">

  <h4 class="text-center">*Note: All fields are required.</h4>
 <div class="row col-md-5 col-md-offset-1">
      <%= simple_form_for @patient_campaign do |f| %>
      
      <%= f.input :campaign_name,label: "Name your Patient Campaign, (i.e. 'Mary\'s Cancer Fund' or 'Support for Bill\'s Back Surgery')" %>
      <%= f.input :patient_first_name,label: "First Name of Patient" %>
      <%= f.input :patient_last_name,label: "Last Name of Patient" %>
      <%= f.input :patient_street_address,label: 'Street Address' %>
      <%= f.input :patient_unit_number,label: 'Apt/Unit #' %>
      
      <%= f.input :patient_city, label: 'smity' %>
      <%= f.input :patient_state,label:'State' %>
      <%= f.input :patient_zip_code,label:'Zip Code' %>
      <%= f.input :patient_phone_number,label:'Phone Number' %>
      <%= f.input :artist_relationship_to_patient,label:'This person\'s relationship to you (friend, relative, neighbor, etc.)' %>
  </div>

  <div class="row col-md-5 col-md-offset-1" id="orange-bg">
      
      <%= f.input :patient_diagnosis,label: 'Name the Patient\'s condition, diagnosis, major injury, or illness' %>
      <%= f.input :patient_story,label: 'Tell a brief descriptive and compelling story about your Patient, their situation, and how you\'re going to help.' %>
      <%= image_tag(@patient_campaign.patient_image_1.url) if @patient_campaign.patient_image_1? %>
      <%= f.input :patient_image_1,label:'Upload a photo of your Patient (square format works best!)' %>delete photo
      <br><br>
      <%= f.button :submit %>
      <% end %>
  </div>
</div> 