<div class="container-fluid">
  <div class="row" id="blue-bg">

    <h2 class="copy-heading text-center dk-blue" id="blue-bg">Patient Campaigns: Meet the People We're Helping...</h2>

  </div>

  <div class="center-div-patient">

      <% @patient_campaigns.in_groups_of(3, false) do |row_tasks|%>
        
            <% for patient_campaign in row_tasks %>
              <div class="index-capsule-patient">
                <%= link_to image_tag(patient_campaign.patient_image_1.capsule.url), patient_campaign %><br>
                <span class="copy-heading">
                  <h4><%= link_to (patient_campaign.full_name), patient_campaign %></h4>
                </span> 
                
                  <%= (patient_campaign.patient_city) %>, 
                  <%= (patient_campaign.patient_state)%> <br>
                  
                  <hr class="style-two">
                  <%= (patient_campaign.campaign_name) %>
                             
              </div>
            <% end %>
        
        
           
         
      <% end %>
      
  </div>
 
</div>