<div class="container-fluid">
<br> 
<!-- patient image -->
  <div class="row">
    <div class="col-md-4">
     
      <p class="text-right"><%= image_tag @patient_campaign.patient_image_1 %></p>
    </div>

<!-- campaign info -->
    <div class="col-md-4">

      <h2 class="copy-heading"><%= @patient_campaign.campaign_name %></h2>
      <h3 class="copy-heading">The Campaign for <br>
        <%= @patient_campaign.full_name%></h3>
      <h4 class="copy-heading"><%= @patient_campaign.patient_city %>, <%= @patient_campaign.patient_state  %><br>
      Event: <%= @patient_campaign.patient_diagnosis %>
      </h4>  
      <hr>
      <div class="row">
        <div class="col-md-8">
          <h5>by: <%= (@patient_campaign.user.full_name) %><br>
          <%= @patient_campaign.user.type_of_artist %><br>
          <%= @patient_campaign.user.city %>, <%= @patient_campaign.user.state %>
          </h5>
        </div>
        <div class="col-md-4 text-right">
          <%= image_tag(@patient_campaign.user.headshot.micro.url) %>
        </div>
      </div>
    </div>

<!-- campaign story details -->
    <div class="col-md-4">
      <br>
      <p><%= @patient_campaign.patient_story %></p>
    </div>

  </div>

  <hr class="style-two">
 

  <div class="text-center">
    <h3 class="copy-heading">Available Artworks in this Campaign:</h3>
  </div>
    

  <div>
    Insert all of the artists artworks like index view here (via partial?)
  </div>

  
</div>


