<div class="container-fluid">
  <div class="row" id="green-bg">
    <div class="col-md-4 col-md-offset-1">
      <h2 class="copy-heading">The Campaign for <br><%= @patient_campaign.patient_first_name %> <%= @patient_campaign.patient_last_name%>.</h2>
       
      <p><%= @patient_campaign.patient_story %></p>
    </div>
    <div class="col-md-3">
      <br>
      <%= image_tag(@patient_campaign.patient_image_1.medium.url) if @patient_campaign.patient_image_1? %>
    </div>
    <div class="col-md-3" align="left">
      <p>Name: <strong><%= @patient_campaign.patient_first_name %> <%=@patient_campaign.patient_last_name%></strong></p>
      <p>Hometown: <strong><%= @patient_campaign.patient_city%>, <%= @patient_campaign.patient_state %></strong></p>
      <p>Situation: <strong><%= @patient_campaign.patient_diagnosis%></strong></p>
      <p>Relationship to the Artist: <strong><%= @patient_campaign.artist_relationship_to_patient%></strong></p>
    </div>
      
  </div>

  <div class="row" id="blue-bg">
    <div class="col-md-4 col-md-offset-1">
      <h3 class="copy-heading" align="right">Created by artist: <%= @patient_campaign.user.first_name %> <%= @patient_campaign.user.last_name %></h3>
      <h5 class="copy-heading" align="right">From: <%=@patient_campaign.user.city %>, <%=@patient_campaign.user.state %>
    </div>

    <div class="col-md-3">
      <p align="left"><%= image_tag(@patient_campaign.user.headshot.thumb.url) if @patient_campaign.user.headshot? %></p>
    </div>
  </div>

  <div>
    Insert all of the artists artworks show view (a partial?) here
  </div>

  <div>
    <% if can? :edit, @patient_campaign %>
    <%= link_to "Edit This Campaign", @patient_campaign, method: :edit, class: 'btn btn-large btn-block btn-warning', confirm: 'Are you sure you want to edit this campaign?' %> 
    Note: trouble with edit button taken to routing error: No route matches [POST] "/patient_campaigns/2"
    <% end %>
    <% if can? :destroy, @patient_campaign %>
    <%= link_to "End This Campaign", @patient_campaign, method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this Patient Campaign?' %> 
    <% end %>
  </div>
</div>


