<!DOCTYPE html>
<html>
<head>
  <title>ArtCaring.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<%= link_to "List a New Artwork", new_artwork_path %>
<%= link_to "Manage Account Settings", edit_user_registration_path %>
<%= link_to "My Dashboard", welcome_dashboard_path %>


  <div align=right>Hello <%= current_user.first_name %></div>
<% end %>

  <% flash.each do |key, value| %>
    <p class<%= key %>><%= value %></p>
  <% end %>


<%= yield %>

</body>
</html>
