<!DOCTYPE html>
<html>
<head>
  <title>ArtCaring.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>

  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>
  <div id="wrap">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to (image_tag ('/assets/artcaring.png')), root_path, class: "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                        
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop<b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li>
                    <div class="row" style="width: 400px;">
                        <ul class="list-unstyled col-md-5 col-md-offset-1">
                            <li><strong>By Type of Art</strong></li>
                            <li><%= link_to "All Art", artworks_path %></li>
                            <li><%= link_to "Painting", artworks_path(category: 'painting') %><li>
                            <li><%= link_to "Drawing", artworks_path(category: 'drawing') %><li>
                            <li><%= link_to "Mixed Media", artworks_path(category: 'mixed media (2d or 3d)') %><li>
                            <li><%= link_to "Printmaking", artworks_path(category: 'printmaking') %><li>
                            <li><%= link_to "Photography", artworks_path(category: 'photography') %><li>
                            <li><%= link_to "Sculpture", artworks_path(category: 'sculpture') %><li>
                            <li><%= link_to "Ceramics", artworks_path(category: 'ceramics') %><li>
                            <li><%= link_to "Jewelry", artworks_path(category: 'jewelry') %><li>
                            <li><%= link_to "Wood", artworks_path(category: 'wood') %><li>
                            <li><%= link_to "Metal", artworks_path(category: 'metal') %><li>
                            <li><%= link_to "Glass", artworks_path(category: 'glass') %><li>
                            <li><%= link_to "Fiber", artworks_path(category: 'fiber/wearables') %><li>
                        </ul>
                        <ul class="list-unstyled col-md-5">
                            <li><strong>By Price Range</strong></li>
                            <li><%= link_to "$200 - $500", artworks_path(min_price: 200, max_price: 500) %></li>
                            <li><%= link_to "$501 - $1000", artworks_path(min_price: 501, max_price: 1000) %></li>
                            <li><%= link_to "$1001 - $2000", artworks_path(min_price: 1001, max_price: 2000) %></li>
                            <li><%= link_to "$2001 - $3000", artworks_path(min_price: 2001, max_price: 3000) %></li>
                            <li><%= link_to "$3001 - $5000", artworks_path(min_price: 3001, max_price: 5000) %></li>
                            <li><%= link_to "Over $5000", artworks_path(min_price: 5001, max_price: 100000) %></li>

                        </ul>
                        
                    </div>
                </li>
              </ul>
            </li>

            <li><%= link_to "Learn", welcome_learn_path %></li>

            <li><%= link_to "Campaigns", patient_campaigns_path %></li>

            <li><%= link_to "Artists", users_path %></li>

            

            <li><%= link_to "Artists Join Us", welcome_artists_join_us_path %></li>
            
            
            <li>
              <%= form_tag search_path, class: "navbar-form navbar-right", role: "search", method: :get do %>
                <div class="form-group">
                  <%= text_field_tag :search, nil, class: "form-control", placeholder: "Search" %>
                 </div>
                 <%= button_tag '', name: nil, class: "btn btn-default glyphicon glyphicon-search" %>
              <% end %>
            </li>
            <li>
              <% if current_user %>
               <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
               
              <% else %>
              <%= link_to "Sign In", new_user_session_path %>
              
              <% end %>
            </li>
            
          </ul>
         
          
        </div><!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
  </nav>

  <!-- For logged in users only-->
<% if current_user %>

  <div class="container-fluid">
    <div class="row users">
      <div class="col-md-10">
        <h5 class="pull-right copy-heading"> Hello, <%= current_user.first_name || current_user.email%></h5>
      </div> 
      
      <div class="col-md-2">
        
          <%= link_to (image_tag ('/assets/your-dashboard.png')),welcome_dashboard_path %>
        
      </div>
    </div>
  </div>

<% end %>




<!-- flash messages -->
  <% flash.each do |key, value| %>
    <p class<%= key %>><%= value %></p>
  <% end %>


<%= yield %>

  </div><!-- ends the div "wrap (for sticky footer)" -->



<div id="footer">
  <div class="container">
    <div class="col-md-1 col-md-offset-1 soc-icons">
      <ul class="soc-icons list-unstyled">
        <li><%= link_to (image_tag ('/assets/soc_fb_icon.png')), :facebook %></li>
        <li><%= link_to (image_tag ('/assets/soc_twitter_icon.png')), :twitter %></li>
        <!-- <li><%= link_to (image_tag ('/assets/soc_pinterest_icon.png')), root_path %></li>
        <li><%= link_to (image_tag ('/assets/soc_instagram_icon.png')), root_path %></li>
        <li><%= link_to (image_tag ('/assets/soc_stumble_upon_icon.png')), root_path%></li> -->
      </ul>
    </div>
    <div class="col-md-2 col-md-offset-3">
      <ul class="list-unstyled">
        
        <li><%= link_to "Learn", welcome_learn_path %></li>
        <li><%= link_to "Patient Campaigns", patient_campaigns_path %></li>
        <li><%= link_to "Artists", users_path %></li>
        
      </ul>
    </div>

    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><%= link_to "FAQ", welcome_faq_path %></li>
        <li><%= link_to "Terms of Use", welcome_terms_of_use_path %></li>
        <li><%= link_to "Fees", welcome_fees_path %></li>
      </ul>
    </div>

    <div class="col-md-2">
       <ul class="list-unstyled">
        <li><%= link_to "Contact Us", new_message_path %></li>
        <li><%= link_to "About Us", welcome_about_path %></li>
        <li><%= link_to "Artists Join Us", welcome_artists_join_us_path %></li>
        
      </ul>
    </div>

  </div>
</div>


</body>
</html>
