<!DOCTYPE html>
<html>
<head>
  <title>ArtCaring.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  
<div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <nav>
              <%= link_to (image_tag ('/assets/artcaring-logo.png')), root_path %>
            
          <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
            <span class = "glyphicon glyphicon-align-justify"></span>
          </button>    

            <div class = "collapse navbar-collapse navHeaderCollapse">

              <!-- <ul class="nav pull-right">  -->
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Learn", '#' %></li>
                <li><%= link_to "Shop", '#' %></li>
                <li><%= link_to "Create a Campaign", new_patient_campaign_path %></li>
                
                <li><%= link_to "Sign in", '#' %></li>
              </ul>

            </div>
          </nav>
        </div>
      </div>
  </div>

<!-- flash messages -->
  <% flash.each do |key, value| %>
    <p class<%= key %>><%= value %></p>
  <% end %>


<%= yield %>

</body>
</html>
